/* ======== FONTS ======== */
@font-face{
    font-family: 'BigShouldersDisplay-Black';
    src: url('../assets/fonts/BigShouldersDisplay-Black.ttf');
}

@font-face{
    font-family: 'Outfit-Light';
    src: url('../assets/fonts/Outfit-Light.ttf');
}

@font-face {
    font-family: 'BigShouldersDisplay-Bold';
    src: url('../assets/fonts/BigShouldersDisplay-Bold.ttf');
}

@font-face {
    font-family: 'BigShouldersDisplay-Regular';
    src: url('../assets/fonts/BigShouldersDisplay-Regular.ttf');
}
/* ======== FONTS END ======== */

/* ======== VARIABLES ======== */
:root{
    /* COLORS */
    --COLOR-MAIN: #D5966C;
    --COLOR-BLACK: #151515;
    --COLOR-GREY: #444;
    --COLOR-WHITE: #fff;

    /* FONTS */
    --FONT-FAMILY-HEADINGS: 'BigShouldersDisplay-Black';
    --FONT-FAMILY-HEADINGS-BOLD: 'BigShouldersDisplay-Bold';
    --FONT-FAMILY-HEADINGS-REG: 'BigShouldersDisplay-Regular';
    --FONT-FAMILY-BODY: 'Outfit-Light';

    /* FONT SIZES */
    --FONT-SIZE-HEADINGS-XL: 6rem; /* 96px */
    --FONT-SIZE-HEADINGS-L: 4.375rem; /* 70px */
    --FONT-SIZE-HEADINGS-M: 3.75rem; /* 60px */
    --FONT-SIZE-HEADINGS-S: 2.25rem; /* 36px */
    --FONT-SIZE-BODY-M: 1.375rem; /* 22px */
    --FONT-SIZE-BODY-S: 1.125rem; /* 18px */

    /* LINE HEIGHTS */
    --LINE-HEIGHT-HEADINGS-XL: 88px;
    --LINE-HEIGHT-HEADINGS-L: 70px;
    --LINE-HEIGHT-HEADINGS-M: 50px;
    --LINE-HEIGHT-HEADINGS-S: 36px;
    --LINE-HEIGHT-BODY-M: 32px;
    --LINE-HEIGHT-BODY-S: 28px;

}
/* ======== VARIABLES END ======== */

/* ======== BODY ======== */
body{
    margin:0;
    padding:0;
    font-family: var(--FONT-FAMILY-BODY);
    font-size: var(--FONT-SIZE-BODY-S);
    line-height: var(--LINE-HEIGHT-BODY-S);
    color:var(--COLOR-GREY);
    box-sizing: border-box;
    user-select: none;
    -webkit-user-select: none;
}

h1, h2, h3, h4, h5, h6 { font-family: var(--FONT-FAMILY-HEADINGS); }
/* ======== BODY END ======== */


/* ======== COMPONENTS ======== */
/* Buttons */
.button--container{
    font-family: var(--FONT-FAMILY-HEADINGS-REG);
    color:var(--COLOR-WHITE);
    border-radius: 0px!important;
    display:inline-block;
}

.button--container__button{
    display:flex;
    text-decoration: none;
}

.button__button--text{
    padding:0.8vw;
    padding-top:1vw;
    padding-left:1.7vw;
    padding-right:1.7vw;
    word-spacing: 0.25vw;
    letter-spacing: 0.12vw;
    background-color:var(--COLOR-BLACK);
    color:var(--COLOR-WHITE);
    text-decoration: none;
    transition:background-color 0.2s ease-in-out;
}

.button__button--nav{
    padding:0.8vw;
    padding-left:1.2vw;
    padding-right:1.2vw;
    word-spacing: 0.25vw;
    letter-spacing: 0.12rvw;
    background-color:var(--COLOR-MAIN);
    color:var(--COLOR-WHITE);
    text-decoration: none;
    transition:background-color 0.2s ease-in-out;
}

.button__button--nav img{
    margin-top:0.4vw;
    width:0.6vw;
    height:1vw;
}

.button--container:hover .button__button--text{
    background-color:var(--COLOR-MAIN);
}

.button--container:hover .button__button--nav{
    background-color:var(--COLOR-BLACK);
}

/* For Desktop */
@media screen and (min-width:996px){
    .container{
        margin-right:13.5vw;
        margin-left:13.5vw;
    }
}

/* For Tablet */
@media screen and (max-width: 996px) {
    .container{
        margin-right:5vw;
        margin-left:5vw;
    }

    .button__button--text{
        padding:0.8vw;
        padding-top:2vw;
        padding-bottom:2vw;
        padding-left:3.4vw;
        padding-right:3.4vw;
    }
    
    .button__button--nav{
        padding:1.6vw;
        padding-left:2.4vw;
        padding-right:2.4vw;
    }

    .button__button--nav img{
        margin-top:1vw;
        width:1.2vw;
        height:2vw;
    }
}

/* For Mobile */
@media screen and (max-width: 400px) {
    .container{
        margin-left:15px;
        margin-right:15px;
    }

    .button__button--text{
        padding:1vw;
        padding-top:3vw;
        padding-bottom:2vw;
        padding-left:6vw;
        padding-right:6vw;
        letter-spacing: 1vw;
        font-size:large;
    }
    
    .button__button--nav{
        padding:2.2vw;
        padding-left:4.8vw;
        padding-right:4.8vw;
    }

    .button__button--nav img{
        margin-top:2vw;
        width:2.4vw;
        height:4vw;
    }
}
/* ======== COMPONENTS END ======== */
